version: 2
jobs:
  build:
    docker:
      - image: debian:stretch
    steps:
      - checkout
      - run:
          name: Greeting
          command: echo Hello, world.
      - run:
          name: Print the Current Time
          command: date
      - run:
          name: Compilation check
          command: cd NewClassMaker/; cmake CMAKE_BUILD_TYPE=Release ; make
