version: 2
jobs:
  build:
    working_directory: ~/NewClassMaker
      machine:
        - image: circleci/classic:latest
#    docker:
#      - image: circleci/build-image
    steps:
      - checkout
      - run:
          name: Install compiler
          command: sudo aptitude update; sudo aptitude install cmake
      - run:
          name: Greeting
          command: echo Hello, world.
      - run:
          name: Print the Current Time
          command: date
      - run:
          name: Compilation check
          command: cmake CMAKE_BUILD_TYPE=Release ; make
